Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [14]:
import pandas as pd
df=pd.DataFrame({'series':[4, 8, 15, 16, 23,42]})
print(df)

   series
0       4
1       8
2      15
3      16
4      23
5      42

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [18]:
variable=['chan','krish','sam','cheth','puni','shrey','var','bhuji','gur','praj']
df1=pd.Series(variable)
print(df1)

0     chan
1    krish
2      sam
3    cheth
4     puni
5    shrey
6      var
7    bhuji
8      gur
9     praj
dtype: object

Q3. Create a Pandas DataFrame that contains the following data:

In [29]:
df2=pd.DataFrame({'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']})

print(df2)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

     Name
0   Alice
1     Bob
2  Claire

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a tabloe with rows and columns.
A Pandas Series is a one-dimensional array-like object that can hold data of any type (integer, float, string, etc.)
where as  Pandas DataFrame is a two-dimensional, tabular data structure with rows and columns. It is similar to a spreadsheet or a table in a relational database.
Eg for series             Eg for DataFrame

                            Name  Age       City
a    NaN                0   John   25     New York
b    6.0                1  Alice   30  Los Angeles
c    8.0                2    Bob   35      Chicago
d    NaN

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

head(), tail(), loc(), iloc(), shape, .describe() these are the common functions used to manipulate the data in data in a Pandas DataFrame.
Pandas head() method is used to return top n (5 by default) rows of a data frame or series to know the datas insight.
The describe() function in Pandas is used to generate descriptive statistics that summarize the central tendency, dispersion and shape of a dataset's distribution, excluding NaN values.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

A series in a one dimensional array like structure with homogeneous data. The values of the series are mutable means we can change any value in series, but the size of the series is immutable so se cannot change the size of the series.

DataFrame is a two-dimensional array with hetetogenous data. A DataFrame size is mutable and data is also mutable so we can change the data and size of DataFrame at any time. 

The panel is a three-dimensional data structure with heterogeneous data. It is very hard to represent the Panel in a graphical representation. But a Panel can be illustrated as a container of a DataFrame. In Panel Data and size are mutable.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Both DataFrame and panel are mutable in terms of size and values, where as Series is mutable only in terms of value, but the size of the Series is immutable.